@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: calc(100vw / 3440 * 10);
    box-sizing: border-box;
  }
  @media only screen and (max-width: 160em) {
    html {
      font-size: calc(100vw / 2560 * 10);
    }
  }
  @media only screen and (max-width: 120em) {
    html {
      font-size: calc(100vw / 1920 * 8.5);
    }
  }
  @media only screen and (max-width: 64em) {
    html {
      font-size: calc(100vw / 1024 * 10);
    }
  }
  @media only screen and (max-width: 35em) {
    html {
      font-size: calc(100vw / 550 * 10);
    }
  }
  .cl-rootBox {
    font-size: 16px;
  }
}

@layer components {
  .nav {
    box-shadow: 0px 4px 4px 0px rgba(0, 60, 149, 0.25);
  }

  .hero__background {
    background-image: linear-gradient(
        90deg,
        #003c95 0%,
        rgba(217, 217, 217, 0) 100%
      ),
      url("./images/hero.png");
    background-size: contain;
    background-position: center;
  }

  #autor:focus + #hiddenDiv {
    display: block !important;
  }

  .oProjektu__background {
    background-image: url("./images/oProjektu.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .filter__background {
    background-image: linear-gradient(
        90deg,
        #003c95 23.93%,
        rgba(0, 60, 149, 0.25) 100%
      ),
      url("./images/filter.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .admin__background {
    background: linear-gradient(90deg, #003c95 0%, rgba(0, 60, 149, 0.25) 100%),
      url("./images/admin.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .aside-item:not(:last-of-type)::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -2rem;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
  }
}
